<ion-list>
  <ion-item>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-avatar slot="start">
            <img
              alt="Silhouette of a person's head"
              [ngSrc]="'https://ionicframework.com/docs/img/demos/avatar.svg'"
              width="80"
              height="80"
            />
          </ion-avatar>
          <ion-label>Item Avatar</ion-label>
        </ion-item>
      </ion-card-content>

      <ion-button fill="clear">Action 1</ion-button>
      <ion-button fill="clear">Action 2</ion-button>
    </ion-card>
  </ion-item>
</ion-list>
