<ion-content [fullscreen]="true">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
  >
    <ion-refresher-content />
  </ion-refresher>

  @if (loading()) {
    <ion-item
      role="status"
      aria-live="polite"
    >
      <ion-label>{{ 'gallery.loading' | translate }}</ion-label>
    </ion-item>
  } @else if (errorMessageKey()) {
    <ion-item
      role="alert"
      aria-live="assertive"
    >
      <ion-label>{{ errorMessageKey()! | translate }}</ion-label>
    </ion-item>
  } @else {
    <ion-list
      class="gallery-list"
      role="list"
      [attr.aria-label]="'gallery.feedAriaLabel' | translate"
    >
      @for (image of images(); track image.id) {
        <div
          class="gallery-card"
          role="listitem"
          [attr.aria-busy]="!isImageLoaded(image.id)"
        >
          @if (!isImageLoaded(image.id)) {
            <ion-skeleton-text
              class="gallery-skeleton"
              aria-hidden="true"
              animated
            />
          }
          @let imageAlt = 'gallery.imageAlt' | translate: { author: image.author };
          <ion-img
            class="gallery-image"
            [class.gallery-image--hidden]="!isImageLoaded(image.id)"
            role="img"
            [attr.aria-label]="imageAlt"
            [src]="getImageSource(image)"
            [alt]="imageAlt"
            (ionImgDidLoad)="onImageSettled(image.id)"
            (ionError)="onImageSettled(image.id)"
          />
        </div>
      }
    </ion-list>
  }
</ion-content>
