<ion-item
  role="article"
  [attr.aria-labelledby]="'social-post-title-' + post().id"
  [attr.aria-describedby]="'social-post-body-' + post().id"
>
  <ion-avatar slot="start">
    <img
      alt=""
      aria-hidden="true"
      [ngSrc]="post().avatarUrl"
      width="80"
      height="80"
    />
  </ion-avatar>

  <ion-label>
    <strong [attr.id]="'social-post-title-' + post().id">{{ post().author.displayName }}</strong>
    <p>@{{ post().author.handle }}</p>
    <ion-text [attr.id]="'social-post-body-' + post().id">{{ post().content }}</ion-text>
  </ion-label>

  <div
    class="metadata-end-wrapper"
    slot="end"
  >
    <ion-note
      class="post-datetime"
      color="medium"
    >
      <time [attr.datetime]="post().timestamp">{{
        post().timestamp | date: 'short' : undefined : activeLocale()
      }}</time>
    </ion-note>
  </div>
</ion-item>
